.header {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #dddddd;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 18px;
  font-weight: 600;
  color: #151516;
  margin: 0;
}